[submodule "OpenList"]
	path = OpenList
	url = git@github.com:ArcaneEcholan/OpenList.git
[submodule "OpenList-Frontend"]
	path = OpenList-Frontend
	url = git@github.com:ArcaneEcholan/OpenList-Frontend.git
